# Ignorar o arquivo de variáveis de ambiente
/backend/.env

# Ignorar a pasta de dependências do Node.js
/backend/node_modules/

# Ignorar arquivos de log
/backend/*.log

# Ignorar arquivos de uploads
/backend/uploads/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos temporários e caches
*.tmp
*.caches
