/* Importando a fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --cor-principal: #ff6347; 
    --cor-secundaria: rgba(255, 255, 255, 0.8); 
    --cor-fundo: #f3eceb; 
    --cor-texto: #333333; 
    --cor-texto-claro: #ffffff; 
    --cor-input-bg: #f4f4f4; 
    --cor-input-border: #ddd; 
    --sombras-leves: 0 4px 6px rgba(0, 0, 0, 0.1); 
    --cor-destaque: #ff9800; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}

body {
    background: url('../imgs/logcad.jpg') no-repeat center center fixed;
    background-size: cover;
    color: var(--cor-texto);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; 
}


header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--cor-principal);
    position: relative; /* Necessário para alinhar o menu corretamente */
    z-index: 1000;
}

.logo {
    max-height: 80px;
}

h1 {
    color: var(--cor-texto-claro);
    font-size: 24px;
    margin: 0 20px;
    font-weight: 500;
}

nav {
    display: flex; 
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    margin: 0; 
}

nav.active ul {
    display: flex; 
    flex-direction: column;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    color: var(--cor-texto-claro);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
    color: var(--cor-secundaria);
}

/* Estilos do ícone do hambúrguer */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
    z-index: 1100; /* Para evitar sobreposição */
}

.hamburger span {
    background-color: var(--cor-texto-claro);
    width: 25px;
    height: 3px;
    margin: 4px 0;
    transition: 0.4s;
}

.menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--cor-principal);
    position: absolute;
    top: 60px; 
    left: 0;
    text-align: center;
    z-index: 1000;
}

.menu.active {
    display: flex; 
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    nav ul {
        display: none; 
        flex-direction: column; 
        align-items: center; 
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0; 
    }

    h2 {
        font-size: 22px;
    }

    .hamburger {
        display: flex; 
    }

    /* Ajustes para o banner em telas menores */
    .banner-content h2 {
        font-size: 24px;
    }
    .banner-content button {
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    h1 {
        margin: 0;
    }

    h2 {
        font-size: 20px;
    }
}

/* Estilos para o menu hambúrguer */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Estilo do menu com ícones */
nav ul li a i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    font-size: 18px;
}

nav ul li a i {
    color: var(--cor-texto-claro);
}

nav ul li a:hover i {
    color: var(--cor-secundaria);
}



/* Estilos do conteúdo */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: var(--sombras-leves);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

h2 {
    color: var(--cor-principal);
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

div {
    width: 100%; 
    margin-bottom: 15px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%; 
    padding: 10px; 
    background-color: var(--cor-input-bg);
    border: 1px solid var(--cor-input-border);
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--cor-principal);
    box-shadow: 0 0 5px rgba(255, 99, 71, 0.5);
}

/* Estilos para o feedback de força da senha */
#password-strength {
    font-size: 12px;
    margin-top: 5px;
}

#password-strength.fraca {
    color: red;
}

#password-strength.media {
    color: orange;
}

#password-strength.forte {
    color: green;
}

/* Estilo para mensagens de sucesso */
.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

/* Estilo para mensagens de erro */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Destaque para campos com erro */
.input-error {
    border: 2px solid red;
}

button {
    background-color: var(--cor-principal);
    color: var(--cor-texto-claro);
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px; 
    box-shadow: var(--sombras-leves); 
}

/* Exemplo de transformação no botão */
button:hover {
    background-color: #e5533c;
    transform: scale(1.05); 
}


button:focus {
    outline: 2px solid rgba(255, 255, 255, 0.8);
    outline-offset: 2px;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-texto-claro);
}

